.phonebook {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.phonebookTitle,
.contactTitle {
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 60px;
font-weight: 600;
margin: 0 auto 20px;
}

