.name {
    margin: 0 auto;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
}

.userName {
    width: 250px;
    height: 30px;
    margin: 0 20px 20px;
    padding: 15px;

    font-size: 20px;
    border-radius: 10px;
}