.phonebook {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: auto;
    width: 35%;
    margin-bottom: 30px;
}


.addContact {
margin: 0 auto;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

.number,
.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* 
.name {
    display: flex;
    justify-content:end ;
} */

.addContact {
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    padding: 10px 35px;    
    margin-top: 20px;
    background-color: rgb(181, 255, 230);
}

.addContact:hover,
.addContact:focus {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.userName,
.userNumber {
    min-width: 300px;
    height: 30px;
    padding: 15px 20px;

    font-size: 20px;
    border-radius: 10px;
}

